/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

body {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: default;
}

.no-selection {}

/* INDEX */

.title_name {
    font-size: 26px;
    margin-top: 30px;
}

.index-footer {
    margin: auto;
    width: 320px;
    font-size: 15px;
}

/* END INDEX */

/* CONTACT */

.contact-block {
    margin-top: 20px;
}

.contact-title {
    font-size: 20px;
    font-weight: 600;
}

.contact-content {
    font-size: 16px;
    font-style: italic;
}

/* END CONTACT */

/* REALISATION */

.real-category {
    margin-top: 20px;
}

.real-title {
    font-size: 22px;
}

.real-block {
    margin: 10px 20px;
    width: 250px;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    border-radius: 25px;
    z-index: 999;
}

.real-block:hover {
    color: #111;
    background-color: #f0f0f0;
}

.real-name {
    font-size: 22px;
    pointer-events: none;
    margin-bottom: 5px;
}

.real-desc {
    font-size: 18px;
    font-style: italic;
    pointer-events: none;
}

.projet-block {}

.projet-title {
    font-size: 30px;
    margin: 20px 0 10px;
}

.projet-desc {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px;
}

.projet-section {
    margin-top: 10px;
    font-size: 24px;
}

.projet-section p {
    font-size: 18px;
}

/* END REALISATION */

/* COMPETENCES */

.comp-category {
    /* margin-top: 20px; */
    /* width: 500px;
    min-width: 300px; */
    margin: 20px 0 10px 10%;
    padding-top: 20px;
    float: left;
    height: fit-content;
}

.comp-title {
    font-size: 22px;
    margin: 20px 0;
}

.comp-name {
    padding: 5px 10px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 25px;
}

.comp-name:hover {
    color: #111;
    background-color: #f0f0f0;
}

.comp-label {
    font-size: 30px;
    margin: 20px 0 10px;
}

.comp-desc {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px;
}

.comp-section {
    margin-top: 10px;
    font-size: 24px;
}

.comp-section p {
    font-size: 18px;
}

.comp-link {
    cursor: pointer;
}

.comp-link:hover {
    cursor: pointer;
    font-weight: 500;
}

/* END COMPETENCES */