/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* INDEX */

.title_name {
    font-size: 26px;
    margin-top: 30px;
}

/* END INDEX */

/* CONTACT */

.contact-block {
    margin-top: 20px;
}

.contact-title {
    font-size: 20px;
    font-weight: 600;
}

.contact-content {
    font-size: 16px;
    font-style: italic;
}

/* END CONTACT */

/* REALISATION */

.real-category {
    margin-top: 20px;
}

.real-title {
    font-size: 22px;
}

.real-block {
    margin-top: 10px;
    /* display: inline; */
    /* width: 100px; */
}

.real-name {
    font-size: 16px;
}

.real-desc {
    font-style: italic;
}

/* END REALISATION */