/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* INDEX */

.title_name {
    font-size: 26px;
    margin-top: 30px;

}